EDA inicial

In [1]:
import pandas as pd
import json

In [2]:
movies_df =pd.read_csv('movies_dataset.csv') #Lectura dataset

C:\Users\Omar\AppData\Local\Temp\ipykernel_10784\2620296035.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv') #Lectura dataset

In [3]:
movies_df.info() #Cabecera dataset
movies_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0

In [4]:
movies_df.iloc[19729] # la carga del data set a MySQL Workbench no acpta algunas filas, se complementan o eliminan aca

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
homepage                                                               NaN
id                                                                   82663
imdb_id                                                          tt0113002
original_language                                                       en
original_title                                                Midnight Man
overview                 British soldiers force a recently captured IRA...
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19729, dtype: object

In [5]:
movies_df.at[19729, 'popularity'] = '0'   # llenado de campos
movies_df.at[19729, 'poster_path'] = 'A'
movies_df.at[19729, 'production_companies'] = '[]'
movies_df.at[19729, 'production_countries'] = '[]'
movies_df.at[19729, 'release_date'] = ''
movies_df.at[19729, 'revenue'] = '0'
movies_df.at[19729, 'runtime'] = '0'
movies_df.at[19729, 'spoken_languages'] = ''
movies_df.at[19729, 'status'] = '0'
movies_df.at[19729, 'tagline'] = 'a'
movies_df.at[19729, 'title'] = 'a'
movies_df.at[19729, 'video'] = '0'
movies_df.at[19729, 'vote_average'] = '0'
movies_df.at[19729, 'vote_count'] = '0'

In [6]:
movies_df.iloc[19730]    # fila con datos errados, se elimina

adult                                                   - Written by Ørnås
belongs_to_collection                                             0.065736
budget                                    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                   [{'name': 'Carousel Productions', 'id': 11176}...
homepage                 [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
id                                                              1997-08-20
imdb_id                                                                  0
original_language                                                    104.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                                             NaN
poster_path                                                   Midnight Man
production_companies                                                 False
production_countries                                                   6.0
release_date                                                             1
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19730, dtype: object

In [7]:
movies_df = movies_df.drop(labels=19730, axis=0) # fila con datos errados, se elimina

In [8]:
movies_df.to_csv('movies_dataset.csv', index=False) # se guarda archivo

In [9]:
movies_df =pd.read_csv('movies_dataset.csv') # se vuelve a cargar

C:\Users\Omar\AppData\Local\Temp\ipykernel_10784\3848035962.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv') # se vuelve a cargar

In [10]:
movies_df.iloc[29502]  # otra fila para eliminar

adult                     Rune Balot goes to a casino connected to the ...
belongs_to_collection                                             1.931659
budget                                    /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
genres                   [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
homepage                 [{'iso_3166_1': 'US', 'name': 'United States o...
id                                                              2012-09-29
imdb_id                                                                  0
original_language                                                     68.0
original_title                        [{'iso_639_1': 'ja', 'name': '日本語'}]
overview                                                          Released
popularity                                                             NaN
poster_path                            Mardock Scramble: The Third Exhaust
production_companies                                                 False
production_countries                                                   7.0
release_date                                                            12
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 29502, dtype: object

In [11]:
movies_df = movies_df.drop(labels=29502, axis=0) #se eliminna

In [12]:
movies_df.to_csv('movies_dataset.csv', index=False) #se guarda archivo

In [13]:
movies_df =pd.read_csv('movies_dataset.csv') #se lee arhivo

C:\Users\Omar\AppData\Local\Temp\ipykernel_10784\626169731.py:1: DtypeWarning: Columns (0,2,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv') #se lee arhivo

In [14]:
movies_df.iloc[29501] # fila con campos vacios

adult                                                                False
belongs_to_collection    {'id': 122661, 'name': 'Mardock Scramble Colle...
budget                                                                   0
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
homepage                                     http://m-scramble.jp/exhaust/
id                                                                  122662
imdb_id                                                          tt2423504
original_language                                                       ja
original_title                                            マルドゥック・スクランブル 排気
overview                        Third film of the Mardock Scramble series.
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 29501, dtype: object

In [15]:
movies_df.at[29501, 'popularity'] = '0'
movies_df.at[29501, 'poster_path'] = 'A'
movies_df.at[29501, 'production_companies'] = '[]'
movies_df.at[29501, 'production_countries'] = '[]'
movies_df.at[29501, 'release_date'] = ''
movies_df.at[29501, 'revenue'] = '0'
movies_df.at[29501, 'runtime'] = '0'
movies_df.at[29501, 'spoken_languages'] = ''
movies_df.at[29501, 'status'] = '0'
movies_df.at[29501, 'tagline'] = ''
movies_df.at[29501, 'title'] = ''
movies_df.at[29501, 'video'] = '0'
movies_df.at[29501, 'vote_average'] = '0'
movies_df.at[29501, 'vote_count'] = '0'

In [16]:
movies_df.iloc[35584] #fila con campos vacios

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...
homepage                                                               NaN
id                                                                  249260
imdb_id                                                          tt2622826
original_language                                                       en
original_title                                            Avalanche Sharks
overview                 A group of skiers are terrorized during spring...
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 35584, dtype: object

In [17]:
movies_df.at[35584, 'popularity'] = '0'
movies_df.at[35584, 'poster_path'] = 'A'
movies_df.at[35584, 'production_companies'] = '[]'
movies_df.at[35584, 'production_countries'] = '[]'
movies_df.at[35584, 'release_date'] = ''
movies_df.at[35584, 'revenue'] = '0'
movies_df.at[35584, 'runtime'] = '0'
movies_df.at[35584, 'spoken_languages'] = ''
movies_df.at[35584, 'status'] = '0'
movies_df.at[35584, 'tagline'] = ''
movies_df.at[35584, 'title'] = ''
movies_df.at[35584, 'video'] = '0'
movies_df.at[35584, 'vote_average'] = '0'
movies_df.at[35584, 'vote_count'] = '0'

In [18]:
movies_df.iloc[35585]  # fila para eliminar

adult                     Avalanche Sharks tells the story of a bikini ...
belongs_to_collection                                             2.185485
budget                                    /zaSf5OG7V8X8gqFvly88zDdRm46.jpg
genres                   [{'name': 'Odyssey Media', 'id': 17161}, {'nam...
homepage                          [{'iso_3166_1': 'CA', 'name': 'Canada'}]
id                                                              2014-01-01
imdb_id                                                                  0
original_language                                                     82.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                           Beware Of Frost Bites
poster_path                                               Avalanche Sharks
production_companies                                                 False
production_countries                                                   4.3
release_date                                                            22
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 35585, dtype: object

In [19]:
movies_df = movies_df.drop(labels=35585, axis=0)

In [20]:
movies_df.to_csv('movies_dataset.csv', index=False)

Ahora se procesa el archivo 'credits.csv' para hacer la carga de datos a la base de datos MySQL, unicamente con los datos de actores y directores

In [21]:
import pandas as pd
import json
credits_df =pd.read_csv('credits.csv') #Lectura dataset

In [22]:
credits_df.info() #Cabecera dataset
credits_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357

In [23]:
# Se crea la columna 'actors' y se guardan todos los nombres correspondiente a actores de la columna 'cast', se ignora la informacion restante
credits_df['actors'] = credits_df['cast'].apply(lambda x: ', '.join([item['name'] for item in eval(x)]))

In [24]:
# Esta funcion busca el dato de nombre unicamente para la categoria de 'director' y lo almacena en la columna creada 'director'
import ast
def fetch_director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
  return ', ' .join(L)

credits_df['director'] = credits_df['crew'].apply(fetch_director)

In [25]:
credits_df.info() #Cabecera dataset
credits_df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45476 non-null  object
 1   crew      45476 non-null  object
 2   id        45476 non-null  int64
 3   actors    45476 non-null  object
 4   director  45476 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

,cast,crew,id,actors,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,"Al Pacino, Robert De Niro, Val Kilmer, Jon Voi...",Michael Mann
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,"Harrison Ford, Julia Ormond, Greg Kinnear, Ang...",Sydney Pollack
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,"Jonathan Taylor Thomas, Brad Renfro, Rachael L...",Peter Hewitt
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,"Jean-Claude Van Damme, Powers Boothe, Dorian H...",Peter Hyams
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"Pierce Brosnan, Sean Bean, Izabella Scorupco, ...",Martin Campbell
10,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087,"Michael Douglas, Annette Bening, Michael J. Fo...",Rob Reiner
11,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110,"Leslie Nielsen, Mel Brooks, Amy Yasbeck, Peter...",Mel Brooks
12,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032,"Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim C...",Simon Wells
13,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,"Anthony Hopkins, Joan Allen, Powers Boothe, Ed...",Oliver Stone
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"Geena Davis, Matthew Modine, Frank Langella, M...",Renny Harlin
15,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,"Robert De Niro, Sharon Stone, Joe Pesci, James...",Martin Scorsese
16,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584,"Kate Winslet, Emma Thompson, Hugh Grant, Tom W...",Ang Lee
17,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,"Tim Roth, Antonio Banderas, Jennifer Beals, Ma...","Allison Anders, Alexandre Rockwell, Robert Rod..."
18,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273,"Jim Carrey, Ian McNeice, Simon Callow, Maynard...",Steve Oedekerk
19,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517,"Wesley Snipes, Woody Harrelson, Jennifer Lopez...",Joseph Ruben

In [26]:
#Se eliminan las columnas 'cast' y 'crew', con informacion ahora redundante
credits_df = credits_df.drop(['cast', 'crew'], axis=1)

In [27]:
#La carga del archivo 'credits.csv' a la base de datos en MySQL Workbench tenia inconveniente cuando un registro tenia mas de un director
#Se adiciono una columna de ceros, como truco para permitir la carga de los datos de ese archivo
movies_df['zeros'] = 0

In [28]:
credits_df.iloc[17] #Registro con varios directores

id                                                          5
actors      Tim Roth, Antonio Banderas, Jennifer Beals, Ma...
director    Allison Anders, Alexandre Rockwell, Robert Rod...
Name: 17, dtype: object

In [29]:
#Se guarda el dataframe editado al archivo
credits_df.to_csv('credits.csv', index=False)

In [7]:
#Se agregan las columnas 'actors' y 'director' al archivo 'movies.csv'
actors_director = credits_df[['id', 'actors', 'director']]
movies_df = pd.merge(movies_df, actors_director, on='id', how='left')

In [16]:
#Se guarda el archivo
movies_df.to_csv('movies_dataset.csv', index=False)